@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #ffff;
<<<<<<< HEAD
=======
    overflow-x: hidden;
>>>>>>> 4ca5bb38360096f6695672ca70d3707eb34f9d5d
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input,button,textarea{
    border: none;
    outline: none;
}

/*** NAVEGAÇÃO ***/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
nav ul{
    display: flex;
}
nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0 22px;
    display: flex;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3px;
    transition-timing-function: 0.6s ease-in-out;
    color: #000000;
}
nav ul li a:hover{
    background-color: rgb(86, 0, 112);
    color: #fff;
    box-shadow: 5px 10px 30px rgb(86, 0, 112);
}
.active{
    background-color: rgb(86, 0, 112);
    color: #fff;
    box-shadow: 5px 10px 30px rgb(86, 0, 112);
}
<<<<<<< HEAD
=======
.login a:hover{
    background-color: rgb(62, 165, 125);
    color: #fff;
    box-shadow: 5px 10px 30px rgb(94, 94, 94);
}
.sand{
    display: none;
}
>>>>>>> 4ca5bb38360096f6695672ca70d3707eb34f9d5d
.main{
    width: 100%;
    height: 800px;
    position: relative;
    background-size:cover;
    background-repeat: no-repeat;
}
.main-heading{
    width: 500px;
    position: absolute;
    left: 16%;
    top: 47%;
<<<<<<< HEAD
    transform: translate(-16%,-47%);
=======
>>>>>>> 4ca5bb38360096f6695672ca70d3707eb34f9d5d
}
.main-heading h1{
    font-size: 45px;
    margin: 0px;
    letter-spacing: 3px;
    color: rgb(86, 0, 112);
}
.main-btn{
    margin-top: 0px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 0, 112);
    border-radius: 10px;
    color: #fff;
    transition: 0.6s ease-in-out;
}
.main-btn:hover{
    box-shadow: 5px 10px 30px rgba(86, 0, 112, 0.26);
}

.features{
    width: 100%;
<<<<<<< HEAD
    height: 90vh;
=======
    height: auto;
>>>>>>> 4ca5bb38360096f6695672ca70d3707eb34f9d5d
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -100px;
    flex-wrap: wrap;
<<<<<<< HEAD
    background: #663399;;
=======
    background: #663399;
>>>>>>> 4ca5bb38360096f6695672ca70d3707eb34f9d5d
}
.features h1{
    color: white;
    font-size: 2.2rem;
}

.feature-container{
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
=======
    width: 100%;
    flex-wrap: wrap;
>>>>>>> 4ca5bb38360096f6695672ca70d3707eb34f9d5d
}
.feature-box{
    background-color: #fff;
    width: 300px;
    height: 450px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 10px 30px rgba(86, 0, 112, 0.26);
}
.f-img{
    width: 100%;
    height: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-img img{
    width: 70%;
}
.f-text{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.f-text h4{
    margin-top:  -12px;
}

.about{
    width: 100%;
    height: 110vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}
.about-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-img img{
    width: 500px;
}
.about-text{
<<<<<<< HEAD
    width: 45%;
    color: #000000;
    text-align: left;
=======
    display: flex;
    width: 45%;
    color: #000000;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}
@media only screen and (max-width:770px){
    .about{
        flex-direction: column;
        margin: 20px 0;
    }
    .about-img{
        width: 100%;
    }
>>>>>>> 4ca5bb38360096f6695672ca70d3707eb34f9d5d
}
.about-text h2{
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.about-text p{
    font-size: 1.1rem;
    color: #4b4b4b;
}

.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    background: rebeccapurple;
    color: white;
}
.contact-heading{
    text-align: center;
    margin: 40px 0px;
    margin-bottom: 80px;
}
.contact-heading h1{
    font-size: 2.2rem;
}
.contact form{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact form input,.contato form textarea{
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
}
.contact form textarea{
    height: 150px;
    width: 100%;
    border-radius: 15px;
    padding: 4px 10px;
}
.contact-btn{
    margin-top: 40px;
    background: white;
    color: black;
<<<<<<< HEAD
=======
}
.footer{
    position: relative;
    width: 100%;
    background: #000000;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .social-icon{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.footer .social-icon li{
    list-style: none;
}
.footer .social-icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s ;
}
.footer .social-icon li a:hover{
    transform: translateY(-10px);
>>>>>>> 4ca5bb38360096f6695672ca70d3707eb34f9d5d
}